@using CompilerFrontEnd.Operations.History
@using CompilerFrontEnd.ViewModel
@using CompilerFrontEnd.Model
@using CompilerFrontEnd.OperationManager
@using CompilerFrontEnd.Operations.Compiling
@using CompilerFrontEnd.Operations.Detecting
@inject RepositoryStorage _RepositoryStorage
@inject OperationManager OperationManager

<div class="d-flex w-100 justify-content-between">
    <h1>History of classes</h1>
    @if (repo.History().State == RepositoryOperation.SUCCEDED)
    {
        <h5 class="mb-1">le classi sono state identificate con successo</h5>
        
        
    }
    else if (repo.History().State == RepositoryOperation.PENDING)
    {
        <h5 class="mb-1">Sta lavorando</h5>
    }
    else if (repo.History().State == RepositoryOperation.FAILED)
    {
        <h5 class="mb-1">ha fallito</h5>
    }
    else if (repo.History().State == RepositoryOperation.CREATED)
    {
        <button type="button" class="btn btn-primary" @onclick="getHistory">get history of classes</button>
    }
    else if (repo.History().State == RepositoryOperation.READY)
    {
        <h5 class="mb-1">sta aspettando la fine di un altra operazione</h5>
    }
</div>
@code {

    [Parameter]
    public String Origin { get; set; }

    Repository repo;

    protected override void OnInitialized()
    {
        repo = _RepositoryStorage.Items[Origin];
        _RepositoryStorage.OnChange += StateHasChanged;
    }

    protected void Dispose()
    {
        _RepositoryStorage.OnChange -= StateHasChanged;
    }

    public void getHistory()
    {
        OperationManager.AddOperation(repo, HistoryOperation.TYPE);
    }

}