@using CompilerFrontEnd.ViewModel
@using CompilerFrontEnd.Model
@inject RepositoryStorage _RepositoryStorage

<NavLink href="@($"repository/{repo.Author}/{repo.Name}")" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">@repo.Name</h5>
        <small>@repo.Author</small>
    </div>
    <p class="mb-1">@repo.OriginUrl</p>
</NavLink>

@code {

    [Parameter] 
    public String RepositoryUrl { get; set; }

    private Repository repo;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        _RepositoryStorage.OnChange += StateHasChanged;
        repo = _RepositoryStorage.Items[RepositoryUrl];
    }
    
    public void Dispose()
    {
         _RepositoryStorage.OnChange -= StateHasChanged;
    }

}